Start

In [1]:
import pandas as pd

In [2]:
hr_data = pd.read_csv("C:/Users/jaycee/Desktop/Github/Employee-retention-Datascience-project/hr_data.csv")

In [3]:
hr_data

,employee_id,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,1003,2,157,3,0,1,0,sales,low
1,1005,5,262,6,0,1,0,sales,medium
2,1486,7,272,4,0,1,0,sales,medium
3,1038,5,223,5,0,1,0,sales,low
4,1057,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...
14994,87670,2,151,3,0,1,0,support,low
14995,87673,2,160,3,0,1,0,support,low
14996,87679,2,143,3,0,1,0,support,low
14997,87681,6,280,4,0,1,0,support,low
14998,87684,2,158,3,0,1,0,support,low

Loading satisfaction data

In [ ]:
satisfaction_data = pd.read_csv("C:/Users/jaycee/Desktop/Github/Employee-retention-Datascience-project/employee_satisfaction_evaluation.csv")

In [ ]:
# shape of the data
hr_data.shape

In [ ]:
#size of data found in the dataset.
hr_data.size

Numerical analysis.Numerical analysis is the study of algorithms that use numerical approximation (as opposed to symbolic manipulations) for the problems of mathematical analysis (as distinguished from discrete mathematics).